<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mis Compras</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="carrito-page">

        <h1>
            🛒 Historial de Compras
        </h1>

        <h3>
            Bienvenido {{ usuario }}
        </h3>

        <br>

        {% if compras %}

            {% for compra in compras %}

                <div class="item-carrito">

                    <span>
                        Compra #{{ loop.index }}
                    </span>

                    <span>
                        S/ {{ "%.2f"|format(compra.total) }}
                    </span>

                </div>

            {% endfor %}

        {% else %}

            <p class="vacio">
                No tienes compras registradas.
            </p>

        {% endif %}

        <br>

        <a href="/" class="btn-pagar">
            Volver a la tienda
        </a>

    </div>

</body>

</html>