<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Abarrotes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            🛒 Abarrotes Joel
        </div>

        <div class="buscador">
            <input type="text" placeholder="¿Qué buscas hoy?">
        </div>

        <div class="menu">
            <a href="/login">👤 Mi Cuenta</a>
            <a href="/carrito">
                🛍 Carrito ({{ carrito|length }})
            </a>
        </div>
    </header>

    <section class="banner">
        <h1>Bienvenido a la Tienda de Abarrotes</h1>
        <p>
            Productos frescos al mejor precio
        </p>
    </section>

    <section class="productos">
        {% for producto in productos %}

        <div class="card">
            {% if producto.id == 1 %}
            <img src="https://plazavea.vteximg.com.br/arquivos/ids/27552446-450-450/433778.jpg?v=638313120991600000">
            {% endif %}

            {% if producto.id == 2 %}
            <img src="https://plazavea.vteximg.com.br/arquivos/ids/26947514-512-512/20085254.jpg">
            {% endif %}

            {% if producto.id == 3 %}
            <img src="https://corporacionliderperu.com/50720-large_default/gloria-leche-tarro-azul-gde-x-390-gr.jpg">
            {% endif %}

            {% if producto.id == 4 %}
            <img src="https://plazavea.vteximg.com.br/arquivos/ids/30632030-450-450/20281566.jpg?v=638758944609130000">
            {% endif %}

            <h2>{{ producto.nombre }}</h2>

            <p class="precio">
                S/ {{ producto.precio }}
            </p>

            <a href="/agregar/{{ producto.id }}">
                <button>
                    AGREGAR
                </button>
            </a>
        </div>

        {% endfor %}

    </section>
</body>
</html>