<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            🛒 Abarrotes Zaidd
        </div>
        <div class="menu">
            <a href="/">🏠 Inicio</a>
            <a href="/login">👤 Mi Cuenta</a>
        </div>
    </header>

    <div class="carrito-page">
        <h1>
            🛍 Mi Carrito
        </h1>
        {% if carrito %}
        {% for item in carrito %}
        <div class="item-carrito">
            <span>
                {{ item.nombre }}
            </span>
            <span>
                S/ {{ item.precio }}
            </span>
            <a href="/eliminar/{{ loop.index0 }}">
                ❌
            </a>
        </div>

        {% endfor %}
        <h2 class="total">
            Total: S/ {{ total }}
        </h2>
        {% else %}
        <p class="vacio">
            El carrito está vacío
        </p>
        {% endif %}
    </div>
</body>
</html>